[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/desanou/desanou.github.io.git
	branch = master
[submodule "desanou.github.io"]
	path = desanou.github.io
	url = https://github.com/desanou/desanou.github.io
	branch = master
